@if (!data) {
<app-loader />
}@else {
<div class="max-w-6xl mx-auto px-6 pt-28">
  <!-- User Info Section -->
  <section class="mb-6 text-grey-2">
    <h3 class="text-4xl font-semibold mb-4">Personal Information</h3>
    <div class="grid grid-cols-1 gap-3">
      <p><strong class="mr-1">Name:</strong> {{ currentUser.name }}</p>
      <p><strong class="mr-1">Email:</strong> {{ currentUser.email }}</p>
    </div>
  </section>

  <!-- User Stats Section -->
  <section class="flex space-x-4 mb-6 text-purple-1">
    <div class="bg-black-3 p-4 rounded text-center flex-1">
      <h4 class="text-xl font-bold">{{ data.length }}</h4>
      <p class="">Posts</p>
    </div>

    <div class="bg-black-3 p-4 rounded text-center flex-1 text-purple-1">
      <h4 class="text-xl font-bold">
        {{ comments.length ? comments.length : 0 }}
      </h4>
      <p class="">Comments</p>
    </div>
  </section>

  <!-- Recent Activity Section -->
  <section class="">
    <h3 class="text-xl text-grey-2 font-semibold mb-4">
      {{ data.length ? "Recent Activity" : "No Recent Activity" }}
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
      <!-- making sure that data are being displayed -->
      <app-blogs-card
        *ngFor="let blog of data"
        [blog]="blog"
        [isDashboard]="true"
      />
    </div>
  </section>
</div>

}
