<main class="w-full h-screen flex flex-col gap-1 justify-center items-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="bg-dark p-6 rounded-2xl"
  >
    <h2 class="text-2xl">Login</h2>

    <!-- Email Input Field -->
    <div
      class="w-full flex flex-col gap-2 justify-start items-start h-16 mt-2 group"
    >
      <label
        class="transition-all duration-300 text-grey-2"
        [ngClass]="
          isInputFocused || loginForm.get('email')?.touched
            ? 'translate-y-0'
            : 'translate-y-8'
        "
      >
        Email
      </label>
      <input
        type="email"
        formControlName="email"
        class="text-grey-2 w-[80vw] md:w-[50vw] lg:w-[30vw] xl:w-[25vw] h-12 !bg-transparent border-b-2 border-x-none outline-none relative z-20"
        [ngClass]="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            ? 'border-b-red'
            : 'border-b'
        "
        (focus)="isInputFocused = true"
        (blur)="isInputFocused = false"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="text-red-2 w-full -mt-10 text-sm text-end z-10"
      >
        Please enter a valid email.
      </div>
    </div>

    <!-- Password Input Field -->
    <div
      class="w-full flex flex-col gap-2 justify-start items-start h-16 mt-2 group"
    >
      <label
        class="transition-all duration-300 text-grey-2"
        [ngClass]="
          isPasswordFocused || loginForm.get('password')?.touched
            ? 'translate-y-0'
            : 'translate-y-8'
        "
      >
        Password
      </label>
      <input
        type="password"
        formControlName="password"
        class="text-grey-2 w-[80vw] md:w-[50vw] lg:w-[30vw] xl:w-[25vw] h-12 !bg-transparent border-b-2 border-x-none outline-none relative z-20"
        [ngClass]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
            ? 'border-b-red'
            : 'border-b'
        "
        (focus)="isPasswordFocused = true"
        (blur)="isPasswordFocused = false"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-red-2 w-full -mt-10 text-sm text-end z-10"
      >
        Password cannot be empty.
      </div>
    </div>

    <!-- Submit Button -->
    <button
      class="w-full p-3 bg-grey-2 text-lg items-center mt-8 rounded-lg transition-all duration-300"
      type="submit"
      [disabled]="isLoader"
      [ngClass]="{
        'cursor-not-allowed': isLoader,
        'cursor-pointer': !isLoader
      }"
    >
      {{ isLoader ? "Loading..." : "Login to your account" }}
    </button>
  </form>
  <button
    class="text-grey-2 w-[80vw] md:w-[50vw] lg:w-[30vw] xl:w-[25vw] h-14 flex justify-center items-center gap-2 border-2 border-grey-2 rounded-lg"
    (click)="signInWithGoogle()"
    [ngClass]="{
      'cursor-not-allowed': OauthLoader,
      'cursor-pointer': !OauthLoader
    }"
  >
    <span>
      <!-- Google SVG Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 48 48"
      >
        <path
          fill="#ffc107"
          d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917"
        />
        <path
          fill="#ff3d00"
          d="m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691"
        />
        <path
          fill="#4caf50"
          d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44"
        />
        <path
          fill="#1976d2"
          d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917"
        />
      </svg>
    </span>
    <h1 class="text-grey-2">
      @if (OauthLoader) {
      <span>Loading ...</span>
      }@else {
      <span> Sign In with Google</span>
      }
    </h1>
  </button>

  <p class="w-full flex justify-center gap-2 py-6 text-grey-2">
    Don’t have an account?
    <a
      class="text-red cursor-pointer text-purple-1 text-lg"
      routerLink="/signup"
      >Sign Up</a
    >
  </p>
</main>
